  .botao-color {
	color: rgb(205, 92, 92);
  }

  .botao-texto {
	color:rgb(240, 128, 128);
  }

  .imgem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22rem;
    width: 100%;
  }

  .caixa {
    height: 33rem;
  }

