  .botao-color {
	color: rgb(0, 0, 0);
  }

  .botao-texto {
	color:rgb(255, 255, 255);
  }

  .imgem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22rem;
    width: 100%;
  }

  .caixa {
    height: 33rem;
  }

